.container {
    height: 100%;
    width: 100%;
}

.container div {
    border: solid 1px black;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.chat-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat > ul {
    flex: 1 1 auto;
    overflow-y: auto;
    height: 0px;
    /* overflow-y: scroll;
    max-height: 600px; */
}

.chat > div {
    max-height: 100px;
}

