.formControl {
    margin: 0px 15px 15px 15px;
    display: flex;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    background-color: white;
    gap: 15px;
}

.formControl input {
    width: 100%;
    color: #808080;
    border-radius: 30px;
    border: none;
}

.formControl input:focus{
    outline: none;
}

.formControl .mic {
    cursor: pointer;
}

.on {
    color: rgb(139, 189, 79);
}